.bottom
{
position:fixed;
bottom:0;
left:0;
width:100%;
height:4em;
display:block;
mix-blend-mode: luminosity;
background-color:white;
}
.levelx
{
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
pre
{
    margin:20px;
    border-radius:10px;
}

.b{
    border:0;
    background-color: grey;
}
.b:hover
{
    cursor: default;
    background-color: black;
}

.bottom *
{
  height:100%;
  border-radius:0px;
  flex-grow:1;
}
.gridimg
{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    flex-shrink:1;
}
.img
{
    width:240px;
     height:240px;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:center;
    padding:0;
    margin:5px;
    flex-shrink:1;
}
.img * 
{
    width:100%;
}
.gridwidfull
{
    width:100%;
    min-width: 100%;
    flex-grow:1;
    flex-shrink: 0;
}
body::-webkit-scrollbar {
 display: none;
}
.bottomchildcontainer
{
    min-width:100%;
    width: 100%;
    height:100%;
    min-height: 100%;
    position: absolute;
    top:0;
    left:0;
    display:flex;
flex-direction:row;
align-items:center;
justify-content: space-between;
}
