<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
  </head>

  <body>
    <style>
      body, html
      {
        background-color: #212121;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
      }
      .slide
      {
        width: 480px;
        max-width: 480px;
        min-height:240px;
        height:auto;
        overflow: visible;
      }
      .slide-actions{
        position: fixed;
        bottom:0;
        right:0;
        width:100%;
        height:auto;
        background-color:#212121;
        font-size:4vw;
      }
      .slide-content
      {
        overflow: scroll;
        margin-bottom:20px;
      }
      #app
{
  margin:0; 
  padding:0; 
          -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
}
.year
{
  opacity:.5;
  font-size:2.5vh;
}
.toolbar
{
  position: sticky;
}
.media
{
  height:120px;
  overflow:hidden;
}
    </style>
    <div id="app">
      
    
    <md-card class="slide md-scrollbar md-elevation-24">
      <md-card-media v-html="media" v-show='media != ""' class="media">
      </md-card-media>
      <md-toolbar class="toolbar" md-elevation="0">
      <h3 class="md-title">{{slideToolbarText}}</h3>
    </md-toolbar>
<md-card-header><div class="md-title" v-html="slideTitle"></div></md-card-header>
     
      <md-card-content v-html="slideContent" class="slide-content md-scrollbar">
      </md-card-content>
      <md-card-actions class="slide-actions md-elevation-24">
        <md-button v-on:click="prev" class="md-primary" v-bind:disabled="firstSlide" >Prev</md-button>
        <md-button v-on:click="next" class="md-primary" v-bind:disabled="lastSlide" >Next</md-button>
      </md-card-actions>
      
    </md-card>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
      Vue.use(VueMaterial.default);

      var app = new Vue({
        el: '#app',
        data: {
          firstSlide: true,
          lastSlide: false,
          slideToolbarText: "Game of Life",
          slideTitle: "",
          slideContent: "Programmed and Presented by Jordon Gulley<br><p class='year'>May 2018</p>",
          media: "",
          slides: [
          {toolbarText: "Game of Life", title: "", content: "Programmed and Presented by Jordon Gulley<br><p class='year'>May 2018</p>", media: ""},
          
          {toolbarText: "Occupation", title: "Game Programmer", content: "Game Programmers make $7942 dollars a month without taxes. With taxes, however, it is reduced to $6751.", media: ""},
          
          {toolbarText: "Housing Plan", title: "Renting Apartment", content: "For one person, a house would be a lot of space, and the rent generally costs a lot more than renting an apartment. A nice looking apartment generally costs less than a house.", media: ""},
          
          {toolbarText: "Location", title: "Frisco, Texas", content: "Frisco and Prosper are nice.", media: ""},
          
          {toolbarText: "Transportation", title: "1 Used Car", content: "A new car would be preferred, but used cars aren't all that bad. Used cars can be refurbished to look new, and the new car doesn't have to be the NEWEST model of that car.", media: "<img src='transportation.jpg' />"},
          
          {toolbarText: "Budget Summary", title: "$3,015 in expenses.", content: "$30(Water)+$75(Electric)+50(Internet)+$75(Phone)+$794.2(Savings)+$1191(Tax)+$50(Health Insurance) + $200(Gas)+$250(Car Insurance)+$300(Food)= $3015 spend for bills.<br> After the bills and taxes, there would be $4927 dollars left.", media: "<img src='dollar.jpg' />"},
          
          {toolbarText: "Pets", title: "None", content: "", media: "<img src='petsnope.jpg' />"},
          
          {toolbarText: "Single", title: "why not", content: "", media: ""},
          
          {toolbarText: "Car", title: "$350 per month.", content: "For a used car, the average price would be $350.", media: ""}
          ,
          {toolbarText: "Entertainment", title: "internet is best friend", content: "Hulu, Netflix, all that other stuff are pretty much all that's needed. The prices are usually $10 / month", media: "<img src='entertainment.jpg'/>"},
          
          {toolbarText: "Credits", title: "Programmed and Presented by Jordon Gulley", content: "College and Career May 2018", media: ""}
          
          //{toolbarText: "", title: "", content: ""}
                  ],
          currentSlide: 0
        },
        methods:
        {
          prev: function()
          {
              this.currentSlide--;
              this.slideToolbarText = this.slides[this.currentSlide].toolbarText;
              this.slideTitle = this.slides[this.currentSlide].title;
              this.slideContent = this.slides[this.currentSlide].content;
              this.media = this.slides[this.currentSlide].media;
              if(this.currentSlide == 0)
              {
                this.firstSlide = true;
                this.lastSlide = false;
              }
              else
              {
              this.firstSlide = false;
                this.lastSlide = false;
              }
          },
          next: function()
          {
            if(this.currentSlide+1 < this.slides.length)
            {
              this.currentSlide++;
              this.slideToolbarText = this.slides[this.currentSlide].toolbarText;
              this.slideTitle = this.slides[this.currentSlide].title;
              this.slideContent = this.slides[this.currentSlide].content;
              this.media = this.slides[this.currentSlide].media;
              if(this.currentSlide+1 >= this.slides.length)
              {
                this.lastSlide = true;
              this.firstSlide = false;
              }
              else
              {
              this.lastSlide = false;
                this.firstSlide = false;
              }
            }
          }
        }
      });
    </script>
  </body>
</html>